## AW Question #1
#### Write a statement that creates a list with the following strings:
#### 'Einstein', 'Newton', 'Copernicus', and 'Kepler'.

In [1]:
#set up the list
scientists = ['Einstein', 'Newton', 'Copernicus', 'Kepler']
# use print function
print(scientists)

['Einstein', 'Newton', 'Copernicus', 'Kepler']

## AW Question #3
#### Assume the list numbers1 has 100 elements, and numbers2 is an empty list. Write code that copies the values in numbers1 to numbers2.

In [3]:
# set up lists for both variables
numbers1 = [n for n in range(100)]
numbers2 = []
# numbers2 needs to be an empty list

# Verify numbers1 is correct
print(numbers1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [4]:
# append numbers2 with list from numbers1 with for string
for num in numbers1:
    numbers2.append(num)
    # almost forgot the colon :-/

# verify copy with print function
print(numbers2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

## PE Question #1
#### Design a program that asks the user to enter a storeâ€™s sales for each day of the week. The amounts should be stored in a list. Use a loop to calculate the total sales for the week and display the result.

In [ ]:
# first we need to set up an empty list for the sales data
sales = []

# set up a loop for the daily sales input
for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']:
    daily_sales = float(input(f'Enter the sale in dollars for {day}: ))
    # append sales data for each input
    sales.append(daily_sales)